.login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.myform {
	width: 65%;
	height: 50vh;
	padding: 1em;
	display: flex;
	flex-direction: column;
	background-color: white;
}

.myform input {
	font-size: 1.3rem;
	padding: 0.5em;
	margin: 0.5em;
}
